

@mixin centerFlex($type : 'both'){
  display: flex;
  @if $type == 'vertical'{
    align-items: center;
  } @else if $type == 'horizontal'{
    justify-content: center;
  } @else if $type == 'both'{
    justify-content: center;
    align-items: center;
  }
}

// @mixin btnhover ($type){
//   @if $type == 'dark'{
//     background-color:#ffffff ;
//     color:#1fad96; 
//   }@else if $type == 'light'{
//     background-color:#1f2154;
//     color: #ffffff ;
//   }
// }