$white-text: #ffffff;
$bcgc-header: #1f2154;
$dark-text:  #333333;
$bcg_button: #27ab94;
$green-text: #1fad96;
$grey-text: #616865;
$minitext-courses: #918ea6;
$block-bcg: #f3f6f3;
$icon-color: #bcbcbc;

